In [2]:
sum=0
for i in range(1,11):
    print(i,end=" ")
    sum=sum+i
print(sum)

1 2 3 4 5 6 7 8 9 10 55

In [3]:
#function with arguments
def add():
    a=6
    b=5
    return a+b
print(add())

11

In [7]:
#function with arguments
def add(a,b):
    return a+b
print(add(2,3))

5

In [4]:
def evenOdd(n):
    countEven=0
    countOdd=0
    for i in range(1,n+1):
        if i%2==0:
            countEven=countEven+1
        else:
            countOdd=countOdd+1
    print(countEven," ",countOdd)
n=int(input("Enter a number: "))       
evenOdd(n)

def

In [13]:
def checkPalindrome(str):
    return str==str[: :-1]
checkPalindrome("NikkiN")

True

### database types --->list,tuple,dictionary

#list-->unordered database
# list-->all type of data ,string ,number,boolean,etc..
# list-->list is denoted by []

In [21]:
gandus=["Chudri","Vikas","Vikas Chaudhari"]
print(gandus)
print(type(gandus))
gandus.append("sdoahdoa")#appends an element to last of the list
gandus.insert(0,"asJh");
print(gandus)

['Chudri', 'Vikas', 'Vikas Chaudhari']
<class 'list'>
['asJh', 'Chudri', 'Vikas', 'Vikas Chaudhari', 'sdoahdoa']

In [3]:
#extend command
l1=[1,2,3,4,5]
l2=[1,2,3,4,5]
print(l1+l2)
l2.extend(l1+l2)
print(l2);

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5]
[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [6]:
#list->> list command--->Range function
num=list(range(1,11))
#print(num)
#print(type(num))
even=[]
newList=[]
for i in num:
    if i%2==0:
        even.append(i)
print(even)
for i in num:
    if i%2==0:
        newList.append(i*i)
    else:
        newList.append(-i)
print(newList)

[2, 4, 6, 8, 10]
[-1, 4, -3, 16, -5, 36, -7, 64, -9, 100]

In [9]:
#Question 1
name=['manish','Manish','Harsh']
Name=['manish','Manish','Harsh']

for i in Name:
    rev.append(i[::-1])
print(rev)

['Harsh', 'Manish', 'manish']
['hsinam', 'hsinaM', 'hsraH']

In [13]:
#spilt command--->to convert string into list around a delimiter or seprator
name='Chetan,31'.split(',')
print(name)

user=input('Enter the string: ')
print(user.split(" "))

['Chetan', '31']
Enter the string: gjkuy kiyg jhdfy''14
['gjkuy', 'kiyg', "jhdfy''14"]

In [17]:
#join command---->to convert list into string using a join and a seprator
list=['Harsh','is','gamndu']
print(' '.join(list))

Harsh is gamndu

# TUPLES
1)Ordered database
2)Secured Database
3)all type of data
4)Represented by---> () 
Following operations can not be done in tuples:
    append, insert, pop, remove, del
Follwing operations can be performed in tuples:
    indexing, slicing, length, count

In [18]:
num=(1,2,3,4)
type(num)

tuple

In [1]:
#tuple without brackets
name='Nikhil','nikhil'
print(type(name))
#Access elements in a tuple
name1,name2=name
name[1]

<class 'tuple'>

'nikhil'

In [25]:
user_info=('Nikhil','31',['Book1','Book2'])
print(user_info)
user_info[2].append('Book3')
user_info[2].insert(2,'Book4')
print(user_info)

('Nikhil', '31', ['Book1', 'Book2'])
('Nikhil', '31', ['Book1', 'Book2', 'Book4', 'Book3'])

# dictionary
 All type of data,
 key:values,
 {}

In [37]:
user={'Name':'Nikhil','age':21}

#other way of declaring a string
user1=dict(name='Nky',gender='male')

# how to apply if and else in dictionary
if 'name' in user:
    print('Present')
else:
    print('Not present')

#values method

if 'nikhil' in user.values():
    print('present')
else:
    print('Not present')

#items method

if ('Name','Nikhil') in user.items():
    print('Present')
else:
    print('Not Present')

Not present
Not present
Present

In [41]:
# loops in dictionary
user={'Name':'Nikhil','age':21}
for i in user:
    print(i)
    
#values Method
for i in user.values():
    print(i)
for k,j in user.items():
    print(f'{k}:{j}')

Name
age
Nikhil
21
Name:Nikhil
age:21

In [42]:
#update method
user={'Name':'Nikhil','age':21}
more_info={'state':'Rajasthan','Sport':['Sport1','Sport2']}
user.update(more_info);
print(user)

{'Name': 'Nikhil', 'age': 21, 'state': 'Rajasthan', 'Sport': ['Sport1', 'Sport2']}

# Comprehension Command
## Works only on list,tuples and dictionary

In [6]:
# C.C on List
#This is normal way
num=list(range(1,11))
print(num)
new=[]
for i in num:
    new.append(i**2)
print(new)

#This is using C.C
square=[i**2 for i in range(1,11)]
print(square)

#squaring even numbers
square_even=[i**2 for i in range(1,11) if i%2==0]
print(square_even)

# odd ka negative and even ka square
sq_eve=[i**2 if i%2==0 else -i for i in range(1,11)]
print(sq_eve)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
[4, 16, 36, 64, 100]
[-1, 4, -3, 16, -5, 36, -7, 64, -9, 100]

In [10]:
#comprehension command in dictionary
#without comprehension
def square(l):
    d={}
    for i in range(1,l+1):
        d[i]=i**2
    return d
print(square(10))

#Using Comprehension
square={i:i**2  if i%2==0 else -i for i in range(1,11)}
print(square)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}
{1: -1, 2: 4, 3: -3, 4: 16, 5: -5, 6: 36, 7: -7, 8: 64, 9: -9, 10: 100}

# args
# kwargs
# * operator

In [12]:
def add(*args):
    return args
print(add(1,2,3,4,5))

def sum(*args):
    total=0
    for i in args:
        total=total+i
    return total
print(sum(1,2,3,4))

def rangeSum(*args):
    total=0
    for i in args:
        total=total+i
    return total
n=int(input('Enter a range:'))
num=list(range(1,n+1))
print(add(*num)) #if we want to pass a list as args then we have to use * operator else it will throw error

(1, 2, 3, 4, 5)
10

In [15]:
# args with normal parameter
def total(n,*args):
    print(args)
    print(n)
total(1,2,3,4,5)

(2, 3, 4, 5)
1

In [19]:
#kKwargs--->used for dictionary
def func(**kwargs):
    return kwargs
print(func(name='Harsh',age='21'))

{'name': 'Harsh', 'age': '21'}

# lambda function
# lambda Variation

In [20]:
add=lambda a,b:a+b
print(add(3,6))
square=lambda a:a**2
print(square(5))

9
25

In [24]:
# Map function --->system code mapping location
# map(function,input)
num=[1,2,3,4]
def square(a):
    return a**2
print(map(square,num))
print(list(map(square,num)))
print(tuple(map(square,num)))

#use lambda function
print(list(map(lambda a:a**2,num)))
print(list(map(lambda a:'Even' if a%2==0 else 'Odd',num)))

<map object at 0x0000014FDFB87940>
[1, 4, 9, 16]
(1, 4, 9, 16)
[1, 4, 9, 16]
['Odd', 'Even', 'Odd', 'Even']

# filter function 
can perform only filtering of data,not any other operation

In [1]:
num=[1,2,3,4,5,6]
def square(a):
    return a%2==0
print(list(filter(square,num)))
print(list(filter(lambda a:a%2==0,num)))

[2, 4, 6]
[2, 4, 6]

# zip function

In [9]:
l1=[1,2,3]
l2=[4,5,6]
# l2=[4,5,6,7]
# print(zip(l1,l2))
# print(list(zip(l1,l2)))
# print(tuple(zip(l1,l2)))

user=['id1','id2','id3']
name=['Nikhil','Kumar','Yadav']
# print(list(zip(user,name)))
# print(tuple(zip(user,name)))
# print(dict(zip(user,name)))

# find average of the tuples in list
temp=list(zip(l1,l2))
ans=[]
for i in range(0,len(temp)):
    ans.append((temp[i][0]+temp[i][1])/2)
print(ans)

# other way
def average_finder(l1,l2):
    average=[]
    for pair in zip(l1,l2):
        average.append(sum(pair)/len(pair))
    print(average)
average_finder(l1,l2)

[2.5, 3.5, 4.5]
[2.5, 3.5, 4.5]

# Break,Continue,Pass

In [12]:
for i in range(1,11):
    if i>=5 and i<=7:
        pass
    print(i,end=" ")

1 2 3 4 5 6 7 8 9 10

# Function returning function

In [20]:
def outer(msg):
    def inner():
        print(f'This is a inner function {msg}')
    return inner
# outer()() This is also true
var=outer('Bye Bye')
var()

This is a inner function Bye Bye

# Decorators->to increase functionality of other function

In [4]:
def decorator(any_function):
    def wrapper():
        print('I am calling main function')
        any_function()
    return wrapper
# 'I am calling main function'
# def func1():
#     print('This is function1')
# def func2():
#     print('This is function2')
# var=decorator(func1)
# var()
@decorator
def func1():
    print('This is function1')
func1()
@decorator
def func2():
    print('This is function2')
func2()

I am calling main function
This is function1
I am calling main function
This is function2

In [7]:
def decorator(any_function):
    def wrapper(*args,**kwargs):
        print('I am calling main function')
        return any_function(*args,**kwargs)
    return wrapper
@decorator
def add(a,b):
    return a+b
print(add(2,6))

I am calling main function
8